@import "../../assets/styles/Colors.scss";

.rating-stars {
  display: flex;
  justify-content: end;
  gap: 12px;
  margin-top: 16px;

  &__validated,
  &__not-validated {
    width: 24px;
    height: 24px;
  }

  &__validated {
    color: $primary-color;
  }

  &__not-validated {
    color: #e3e3e3;
  }
}
