@import "../../assets/styles/Colors.scss";
@import "../../assets/styles/mixins/breakpoints.scss";

.rating-stars {
  display: flex;
  gap: 12px;
  margin-top: 16px;

  @include respond-to(mobile) {
    margin-top: 0;
    align-items: center;
  }

  &__validated,
  &__not-validated {
    width: 24px;
    height: 24px;
  }

  &__validated {
    color: $primary-color;
  }

  &__not-validated {
    color: #e3e3e3;
  }
}
