@import "../../assets//styles/Colors.scss";
@import "../../assets/styles/mixins/breakpoints.scss";

.accommodation-container {
  margin: 0 40px;

  @include respond-to(mobile) {
    margin: 0;
  }

  &__first-content {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;

    @include respond-to(mobile) {
      flex-direction: column;
    }

    &__location-information {
      &__title {
        font-size: 36px;
        font-weight: 500;
        color: $primary-color;
      }

      &__location {
        margin-top: 8px;
        font-size: 18px;
        font-weight: 500;
      }
    }

    &__host-information {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-top: 16px;

      @include respond-to(mobile) {
        justify-content: space-between;
        flex-direction: row-reverse;
      }

      &__host {
        display: flex;
        align-items: center;
        justify-content: end;

        &__identity {
          color: $primary-color;
          padding-right: 12px;
          font-size: 18px;
          display: flex;
          flex-direction: column;
          align-items: end;
        }

        &__picture {
          width: 64px;
          border-radius: 50%;
        }
      }
    }
  }

  &__second-content {
    display: flex;
    margin: 16px 0 8px 0;
    gap: 40px;

    @include respond-to(mobile) {
      flex-direction: column;
      gap: 0;
    }

    li {
      list-style: none;
    }
  }
}
